<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Amazonia</title>
<main>
	<h1>Registro</h1>

	<form th:action="@{/registro}" method="post" th:object="${usuario}">
		<fieldset th:object="${usuario}">
			<legend>Datos de usuario</legend>
			<div
				th:replace="~{_fragmentos :: labelInput('Email', 'email', 'email')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Contraseña', 'password', 'password')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Nombre', 'nombre', 'text')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Apellidos', 'apellidos', 'text')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Teléfono', 'telefono', 'text')}"></div>
		</fieldset>
		<fieldset th:object="${direccion}">
			<legend>Datos de dirección</legend>
			<div
				th:replace="~{_fragmentos :: labelInput('Calle', 'calle', 'text')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Localidad', 'localidad', 'text')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Código Postal', 'codigoPostal', 'number')}"></div>
			<div
				th:replace="~{_fragmentos :: labelInput('Provincia', 'provincia', 'text')}"></div>
		</fieldset>
		<button type="submit" class="btn btn-primary">Registrarse</button>
	</form>
</main>