<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<title>Vehículos</title>
<main>
	<h1>Vehículos</h1>

	<div class="row row-cols-1 g-4">
		<div class="col" th:each="vehiculo: ${vehiculos}" th:object="${vehiculo}">
			<div class="card h-100">
				<div class="card-body">
					<h5 class="card-title"><a th:href="@{/vehiculo(id=*{id})}" th:text="*{matricula}">Card title</a></h5>
					<p class="card-text" th:text="*{marca}">This is a wider card with supporting text
						below as a natural lead-in to additional content. This content is
						a little bit longer.</p>
				</div>
				<div class="card-footer">
					<small class="text-body-secondary" th:text="*{estadoReparacion}">Last updated 3 mins ago</small>
				</div>
			</div>
		</div>
	</div>
	
</main>