<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Formulario de vehículo</title>
<main>
	<h1>Vehículo</h1>

	<pre th:text="${vehiculo}"></pre>

	<form action="tabla.html" th:action="@{/admin/editar}" method="post" th:object="${vehiculo}">
		<input th:field="*{id}"> 
		
		<input placeholder="Matrícula" th:field="*{matricula}">
		<p th:errors="*{matricula}"></p>

		<input placeholder="Bastidor" th:field="*{bastidor}">
		<p th:errors="*{bastidor}"></p>

		<input placeholder="Marca" th:field="*{marca}">
		<p th:errors="*{marca}"></p>

		<input placeholder="Modelo" th:field="*{modelo}">
		<p th:errors="*{modelo}"></p>

		<select th:field="*{estadoReparacion}">
			<option th:each="estado: ${estados}" th:text="${estado}" th:value="${estado}"></option>
		</select>
		<p th:errors="*{estadoReparacion}"></p>

		<select th:field="*{propietario}">
			<option th:each="usuario: ${usuarios}" th:text="${usuario.nombre}" th:value="${usuario.id}"></option>
		</select>
		<p th:errors="*{propietario}"></p>
	
		<button>Guardar</button>
	</form>

</main>
</html>