<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Formulario de vehículo</title>
<main>
	<h1>Vehículo</h1>

	<pre th:text="${vehiculo}"></pre>

	<form action="tabla.html" th:action="@{/admin/editar}" method="post" th:object="${vehiculo}">
		<input type="hidden" th:field="*{id}"> 

<!-- 		<div th:replace="~{_fragmentos::labelForm('Matrícula', 'matricula', ~{_fragmentos::cuadro('matricula')})}"></div> -->
		
		<div th:replace="~{_fragmentos::labelInput('Matrícula', 'matricula')}"></div>
		<div th:replace="~{_fragmentos::labelInput('Bastidor', 'bastidor')}"></div>
		<div th:replace="~{_fragmentos::labelInput('Marca', 'marca')}"></div>
		<div th:replace="~{_fragmentos::labelInput('Modelo', 'modelo')}"></div>
		<div th:replace="~{_fragmentos::labelSelect('Estado Reparación', 'estadoReparacion', ${estados})}"></div>
		<div th:replace="~{_fragmentos::labelSelectTextoValor('Propietarios', 'propietario', ${usuarios}, 'nombre', 'id')}"></div>

<!-- 		<div th:replace="~{_fragmentos::labelForm('Estado Reparación', 'estadoReparacion', ~{_fragmentos::selectBasico('estadoReparacion', ${estados})})}"></div> -->
<!-- 		<div th:replace="~{_fragmentos::labelForm('Propietarios', 'propietario', ~{_fragmentos::selectTextoValor('propietario', ${usuarios}, 'nombre', 'id')})}"></div> -->
	
		<button class="btn btn-primary">Guardar</button>
	</form> 

</main>
</html>