<!DOCTYPE html>
<html th:replace="~{_global :: plantilla(~{::title}, ~{::main})}"
	xmlns:th="https://www.thymeleaf.org">
<title>Tabla de vehículos</title>
</head>
<main>
	<h1>Vehículos</h1>

	<table class="table table-hover table-striped table-bordered">
		<thead class="table-secondary">
			<tr>
				<th>Id</th>
				<th>Estado de reparación</th>
				<th>Matrícula</th>
				<th>Bastidor</th>
				<th>Propietario</th>
				<th>OPCIONES</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="vehiculo: ${vehiculos}" th:object="${vehiculo}">
				<th th:text="*{id}">1</th>
				<td th:text="*{estadoReparacion}">Pendiente</td>
				<td th:text="*{matricula}">1234ABC</td>
				<td th:text="*{bastidor}">12345678876543212</td>
				<td th:text="*{propietario.nombre}">Pepe</td>
				<td>
					<a class="btn btn-sm btn-primary" href="#" th:href="@{/admin/editar(id=*{id})}">Editar</a>
					<a class="btn btn-sm btn-danger" href="#" th:href="@{/admin/borrar(id=*{id})}">Borrar</a>
				</td>
			</tr>
		</tbody>
		<tfoot class="table-secondary">
			<tr>
				<td colspan="5"></td>
				<td>
					<a class="btn btn-sm btn-primary" href="#" th:href="@{/admin/editar}">Añadir</a>
				</td>
			</tr>
		</tfoot>
	</table>
</main>
</html>